<div class="title">
    <h1><b>Coordinador</b></h1>
</div>
<form [formGroup]="coordinadorForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Coordinador</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo Coordinador</mat-label>
                    <mat-select formControlName="tipo" required>
                        <mat-option *ngFor="let opcion of tipoCord" [value]="opcion">{{opcion}}</mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="correo" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Institución</mat-label>
                    <mat-select formControlName="id_institucion" required>
                        <mat-option *ngFor="let convenio of optionsInstituciones; let i = index" [value]="idInstituciones[i]">
                            {{convenio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>  
            </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-button [mat-dialog-close]="false" color="warn"> Cancelar </button>
        <button mat-raised-button type="submit" color="primary">{{data ? 'Actualizar Coordinador' : 'Agregar Coordinador'}}</button>
    </div>
</form>
