<div class="title">
    <h1><b>Usuario</b></h1>
</div>
<form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="contrasena" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Role de Usuario</mat-label>
                    <mat-select formControlName="privilegios" required>
                        <mat-option *ngFor="let opcion of privilegios" [value]="opcion">{{opcion}}</mat-option>
                    </mat-select>
                </mat-form-field>                
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-button [mat-dialog-close]="false" color="warn"> Cancelar </button>
        <button mat-raised-button type="submit" color="primary">{{data ? 'Actualizar Usuario' : 'Agregar Usuario'}}</button>
    </div>
</form>