.row{
    display: flex;
    gap: 10px;
    
    mat-form-field{
       width: 100%; 
    }
}

.content{
    padding-top: 10px;
}

.action{
    padding: 0px 25px 20px;

    button{
        flex: 1px;
    }
    .save{
        background-color: #253e85;;
    }
}

.title{
    h1{
        text-align: center;
    }
}
.close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    background: none;
    border: none;
    outline: none;
    color: #253e85;
    box-shadow: none !important;
  }
  
  .close-button:hover {
    color: red; 
    box-shadow: none !important;
  }