.row{
    display: flex;
    gap: 10px;
    
    mat-form-field{
       width: 90%; 
    }
}

.content{
    padding-top: 10px;
    width: 100%;
}

.action{
    padding: 0px 25px 30px;

    button{
        flex: 1;
    }
}

.title{
    h1{
        text-align: center;
    }
}
.close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    background: none;
    border: none;
    outline: none;
    color: #253e85;
    box-shadow: none !important;
}
  
.close-button:hover {
    color: red; 
    box-shadow: none !important;
}