<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <div>
        <app-header></app-header>
        <nav>
            <button mat-icon-button (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="miCuenta">
                <h1>Mi cuenta</h1>
            </div>
              <div class="informe-container">
                <div *ngIf="user" class="informe">
                  <h1 class="nombre"><b>{{ user.name }} {{ user.lastname }}</b></h1>
                  <table>
                    <tr>
                      <td>Email</td>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td>Role de usuario</td>
                      <td>{{ user.role }}</td>
                    </tr>
                  </table>
                  <div class="button-container">
                    <button mat-button *ngIf="user.role.toLowerCase() === 'admin'" class="custom-button1" (click)="verUsuarios()">Ver Usuarios</button>
                  </div>
                </div>
            </div>  
        </nav>
    </div>
</body>
</html>
