<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <div>
        <app-header></app-header>

        <nav>
            <div *ngIf="user" class="profile-container">
                <h1><b>{{ user.name }} {{ user.lastname }}</b></h1>
                <p><b>Email: </b>{{ user.email }}</p>
                <p><b>Contraseña: </b>
                    <span *ngIf="!showPassword">{{ hidePassword(user.password) }}</span>
                    <span *ngIf="showPassword">{{ user.password }}</span>
                    <button (click)="togglePasswordVisibility()">
                      {{ showPassword ? 'Ocultar' : 'Mostrar' }} Contraseña
                    </button>
                  </p>                  
                <p><b>¿Tiene privilegios?: </b>{{ user.role }}</p>
                <button *ngIf="user.role.toLowerCase() === 'admin'" class="center-button" (click)="verUsuarios()">Ver Usuarios</button>
            </div>
        </nav>
    </div>
</body>
</html>