@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header {
    display: flex;
    justify-content: space-between; /* Esto crea un espacio entre los elementos horizontalmente, con los div*/
    align-items: center; /* Esto centra los elementos verticalmente */
    min-height: 70px;
    background-color: #253e85;
}
#logo{
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}
.perfil{
    width: 25px;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.perfil:hover {
    background-color: #869ad1 ;
    color:white;
    
}

.logout{
    width: 25px;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
}

.logout:hover {
    background-color: #869ad1 ;
    color:white;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    
    nav{
        padding: 5px 0px;
    }
}

option {
    font-size: 16px;
}

mat-icon{
    color: white;
}


.custom-select {
    min-width: 100px;
    position: relative;
    width: 100%;
    padding-right: 15px;

  
  select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    border-radius: 30px;
    background-color: #253e85;
    border: 2px solid #ffffff; /* Añadimos un borde sólido de 2px */
    padding: 5px 35px;
    padding-left: 10px;
    color:white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    cursor: pointer;
    transition: border-color 0.3s; /* Agregamos una transición para el color del borde */
  }
  
  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;

  }
  
  .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgb(255, 255, 255);
    top: 30%;
  }
  
  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgb(255, 255, 255);
    top: 55%;
  }
}
