@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    min-height: 70px;
    background-color: #253e85;
}
#logo{
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    user-select: none;
}
nav{
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}
.perfil{
    width: 25px;
    border-radius: 30px;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.perfil:hover {
    background-color: #869ad1 ;
    color:white;
    
}

.logout{
    width: 25px;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
}

.logout:hover {
    background-color: #869ad1 ;
    color:white;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    
    nav{
        padding: 5px 0px;
    }
}

mat-icon{
    color: white;
}

.custom-button {
    min-width: 150px;
    border-radius: 10px;
    border: 2px solid white;
    border-color: white !important;
    background-color: #253e85;
    color: white !important; 
    flex-direction: row-reverse;
    padding-left: 20px;
    margin-right: 15px;
}
  
.custom-button mat-icon {
    margin-left: auto;
}

    
  
