table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 12px;
  width: 100%;
  padding-top: 10;
}

th {
  width: 15%;
  background-color: #f4f5f9;
}
td {
  width: 15%;
  background-color: #f4f5f9;
}
tr {
  width: 15%;
  background-color: #f4f5f9;
}

.titulo{
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.mat-mdc-paginator{
    background-color: #f4f5f9;
}