<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <div>
        <app-header></app-header>
        <div class="tabla">
            <table>
                <tr>
                  <th colspan="2">{{data.Nombre_Convenio}}</th>
                </tr>
                <tr>
                    <td><div><b>Tipo de convenio</b></div></td>
                    <td>{{ data.Tipo_Convenio }}</td>
                </tr>
                <tr>
                    <td><div><b>Vigencia</b></div></td>
                    <td>{{ data.Vigencia | date:'d MMMM yyyy' }}</td>
                  </tr>
                <tr>
                    <td><div><b>Fecha de firma</b></div></td>
                    <td>{{ data.Anio_Firma | date:'d MMMM yyyy' }}</td>
                </tr>
                <tr>
                    <td><div><b>Tipo de firma</b></div></td>
                    <td>{{ data.Tipo_Firma }}</td>
                </tr>
                <tr>
                    <td><div><b>Cupos</b></div></td>
                    <td>{{ data.Cupos }}</td>
                </tr>
                <tr>
                    <td><div><b>Documentos</b></div></td>
                    <td>{{ data.Documentos }}</td>
                </tr>
                <tr>
                    <td><div><b>Alcance</b></div></td>
                    <td>{{ data.Alcance }}</td>
                </tr>
                <tr>
                    <td><div><b>Nombre de Coordinador</b></div></td>
                    <td>{{ data.Nombre_Coordinador }}</td>
                </tr>
                <tr>
                    <td><div><b>Correo de coordinador</b></div></td>
                    <td>{{ data.Correo_Coordinador }}</td>
                </tr>
                <tr>
                    <td><div><b>Institución</b></div></td>
                    <td>{{ data.Nombre_Institucion }}</td>
                </tr>
                <tr>
                    <td><div><b>País</b></div></td>
                    <td>{{ data.Pais }}</td>
                </tr>
                <tr>
                    <td><div><b>Tipo de convenio</b></div></td>
                    <td>{{ data.Tipo_Convenio }}</td>
                </tr>
                <tr>
                    <td><div><b>Tipo de coordinador</b></div></td>
                    <td>{{ data.Tipo_Coordinador }}</td>
                </tr>
                <tr>
                    <td><div><b>Tipo de Institución</b></div></td>
                    <td>{{ data.Tipo_Institucion }}</td>
                </tr>
                <tr>
                    <td><div><b>Unidad Académica</b></div></td>
                    <td>{{ data.Unidad_Academica }}</td>
                </tr>
              </table>
        </div>       
    </div>
</body>
</html>
