<body>
  <h2>Convenios Nacionales</h2>
  <table>
    <thead>
      <tr>
        <th>Institución</th>
        <th>País</th>
        <th>Coordinador</th>
        <th>Correo del Coordinador</th>
        <th>Cupos</th>
        <th>Vigencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let convenio of convenios">
        <td>{{ convenio.Nombre_Institucion }}</td>
        <td>{{ convenio.Pais }}</td>
        <td>{{ convenio.Nombre_Coordinador }}</td>
        <td>{{ convenio.Correo_Coordinador }}</td>
        <td>{{ convenio.Cupos }}</td>
        <td>{{ convenio.Vigencia | date: 'dd MMMM YYYY'}}</td>
      </tr>
    </tbody>
  </table>
</body>
<button class="close-button" mat-icon-button (click)="closeModal()">
  <mat-icon aria-label="Cerrar modal">close</mat-icon>
</button>
