.body{
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 12px;
    width: 100%;
    padding-top: 10;
  }
  
  td, th {
    width: 10%;
  }
  .titulo{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
}