<div class="title">
  <h1><b>Convenio</b></h1>
</div>
<form [formGroup]="formulario" (ngSubmit)="onFormSubmit(formulario)">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Convenio</mat-label>
        <input matInput formControlName="nombre_conv" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo Convenio</mat-label>
        <input matInput formControlName="tipo_conv" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Institución</mat-label>
        <mat-select #nombreInstSelect placeholder="Institucion" formControlName="id_institucion" (selectionChange)="onOptionSelected()" required>
          <mat-option *ngFor="let institucion of optionsInstituciones" [value]="institucion.ID_Institucion">{{ institucion.Nombre_Institucion }}</mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Coordinador</mat-label>
        <mat-select matInput name="coordinadorInstitucion" placeholder="Coordinador" formControlName="id_coordinador" required>
          <mat-option *ngFor="let coordinador of optionsCoor" [value]="coordinador">{{coordinador}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="calendario">
          <mat-label>Vigencia</mat-label>
          <input matInput [matDatepicker]="vigencia" formControlName="vigencia" name="vigencia" required>
          <mat-datepicker-toggle matSuffix [for]="vigencia"></mat-datepicker-toggle>
          <mat-datepicker #vigencia></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="calendario">
          <mat-label>Fecha de Firma</mat-label>
          <input matInput [matDatepicker]="ano_firma" formControlName="ano_firma" name="ano_firma" required>
          <mat-datepicker-toggle matSuffix [for]="ano_firma"></mat-datepicker-toggle>
          <mat-datepicker #ano_firma></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo de firma</mat-label>
        <mat-select matInput name="tipoDeFirma" formControlName="tipo_firma" required>
            <mat-option *ngFor="let tipo of tipoDeFirma" [value]="tipo">{{tipo}}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Cupos</mat-label>
        <input matInput type="number" formControlName="cupos" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Documentos</mat-label>
        <input matInput formControlName="documentos" required>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
      <button mat-button [mat-dialog-close]="false" color="warn"> Cancelar </button>
      <button mat-raised-button type="submit" color="primary">{{data ? 'Actualizar Convenio' : 'Agregar Convenio'}}</button>
  </div>
</form>

