<div class="title">
  <h1><b>Convenio</b></h1>
</div>
<form class="form" (ngSubmit)="onFormSubmit(formContact)" #formContact="ngForm">    
  <div class="inputContainer">
    <input  name = 'nombreConvenio' type="text" class="input" [(ngModel)]="formulario.nombre_conv" placeholder="Ingrese nombre de convenio" required>
    <label for="" class="label">Convenio</label>
  </div>
  <div class="inputContainer">
    <input name = 'tipoDeConvenio'  type="text" class="input" [(ngModel)]="formulario.tipo_conv" placeholder="Tipo de convenio" required>
    <label for="" class="label">Tipo Convenio</label>
  </div>
  <div class="orden">
    <select name="nombreInst" class="seleccion" [(ngModel)]="formulario.id_institucion" required [selectedIndex]="selectedIndexIns" (change)="onOptionSelected()">
      <option *ngIf="true" disabled selected value="">Seleccione una institución</option>
      <option *ngFor="let convenio of optionsInstituciones" [value]="convenio">{{convenio}}</option>
    </select>  
    <label for="" class="label">Institución</label>
    <select name="coordinadorInstitucion" class="seleccion" [(ngModel)]="formulario.id_coordinador" required  required [selectedIndex]="selectedIndexCoor">
      <option *ngIf="true" disabled selected value="">Coordinador de institución</option>
      <option *ngFor="let coordinador of optionsCoor" [value]="coordinador">{{ coordinador }}</option>
    </select>
    <label for="" class="label">Coordinador</label>
  </div>
  <div class="inputContainer">
    <input type="date" class="input" name = 'vigencia' [(ngModel)]="formulario.vigencia" placeholder="Vigencia" required>
    <label for="" class="label">Vigencia</label>

    <input type="date" class="input" name = 'ano_firma' [(ngModel)]="formulario.ano_firma" placeholder="Año de Firma" required>
    <label for="" class="label">Fecha de Firma</label>
  </div>
  <div class="inputContainer">
    <input type="number" class="input" name = 'cupos' [(ngModel)]="formulario.cupos" placeholder="cupos" required>
    <label for="" class="label">Cupos</label>
  </div>
  <div class="inputContainer">
    <select name="tipoDeFirma" class="seleccion" [(ngModel)]="formulario.tipo_firma" required>
      <option *ngIf="true" disabled selected value="">Tipo de firma</option>
      <option *ngFor="let tipo of tipoDeFirma" [value]="tipo">{{ tipo }}</option>
    </select>
    <label for="" class="label">Tipo de firma</label>
  </div>
  <div class="inputContainer">
    <input type="text" name = 'documentos' class="input" [(ngModel)]="formulario.documentos" placeholder="Documentos" required>
  </div>
  <label for="" class="label">Documentos</label>
  <div class="action">
    <button type="button" [mat-dialog-close]="false"> Cancelar </button>
    <button type="submit">{{data ? 'Actualizar Convenio' : 'Agregar Convenio'}}</button>
  </div>
</form>
