
<h2 mat-dialog-title>Detalles del Convenio</h2>
<button mat-icon-button mat-dialog-close aria-label="Cerrar">
  <mat-icon> close </mat-icon>
</button>

<p>Nombre de convenio: {{ data.convenio.Nombre_Convenio }} </p>
<p>Tipo de convenio: {{ data.convenio.Tipo_Convenio }} </p>
<p>Vigencia: {{ data.convenio.Vigencia }} </p>
<p>Año de firma: {{ data.convenio.Anio_Firma }} </p>
<p>Tipo de firma: {{ data.convenio.Tipo_Firma }} </p>
<p>Cupos: {{ data.convenio.Cupos }} </p>
<p>Documentos: {{ data.convenio.Documentos }} </p>
<p>Alcance: {{data.convenio.Alcance}}</p>
<p>Nombre coordinador: {{data.convenio.Nombre_Coordinador}}</p>
<p>Correo coordinador: {{data.convenio.Correo_Coordinador}}</p>
<p>Nombre institucion: {{data.convenio.Nombre_Institucion}}</p>
<p>Pais: {{data.convenio.Pais}}</p>
<p>Tipo convenio: {{data.convenio.Tipo_Convenio}}</p>
<p>Tipo coordinador: {{data.convenio.Tipo_Coordinador}}</p>
<p>Tipo institucion: {{data.convenio.Tipo_Institucion}}</p>
<p>Unidad academica: {{data.convenio.Unidad_Academica}}</p>

